**11-3-2024**
**CSC461 – Assignment1 – IDS – Web Scraping**
**Muhammad Taimoor**
**FA21-BSE-134**
**A Mars Planet Profile scraper**

In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [13]:
url = 'https://space-facts.com/mars/'
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')
    
mars_facts_table = soup.find('table', id='tablepress-p-mars')

headers = []
rows = mars_facts_table.find_all('tr')

In [14]:
for row in rows:
    columns = row.find_all(['th','td'])
    row_data = [col.text.strip() for col in columns]
    if columns[0].name == 'th':  
        headers = row_data
    else:
        if not headers: 
            headers = ['Property', 'Value']

In [15]:
data = []
for row in rows:
    columns = row.find_all('td')
    if len(columns) > 1: 
        data.append({
            headers[0]: columns[0].text.strip(),
            headers[1]: columns[1].text.strip()
        })

In [16]:
mars_facts_df = pd.DataFrame(data)
mars_facts_df

               Property                           Value
0  Equatorial Diameter:                        6,792 km
1       Polar Diameter:                        6,752 km
2                 Mass:  6.39 × 10^23 kg\n(0.11 Earths)
3                Moons:             2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km\n(1.38 AU)
5         Orbit Period:            687 days (1.9 years)
6  Surface Temperature:                    -87 to -5 °C
7         First Record:               2nd millennium BC
8          Recorded By:            Egyptian astronomers

In [17]:
excel_filename = 'Mars.xlsx'
mars_facts_df.to_excel(excel_filename, index=False)